{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/confirm.css' %}">
    <title>Register confirmation</title>
</head>
<body>


    <h1>{{ message }}</h1>

    <script>
        window.setTimeout("window.location='/login/'",5000);
    </script>

</body>
</html>