{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/index.css' %}">
    <title>Home</title>
</head>
<body>
<div class="container">
        <div class="col">
            <a href="/login/" class="text-success "><ins>Log out</ins></a>
            <a href="/register/" class="text-success "><ins>Register</ins></a>
            <!-- <form class="form-register" action="/register/" method="post"> -->




            <!-- </form> -->
        </div>
</div> <!-- /container -->
</body>
</html>